@import "@fontsource/roboto/300.css";
@import "@fontsource/roboto/400.css";
@import "@fontsource/roboto/500.css";
@import "@fontsource/roboto/700.css";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	line-height: 1.6;
	font-family: "Roboto", sans-serif;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
