@font-face {
	font-family: 'MTS Text';
	font-weight: 400;
	src: url('../../../public/fonts/MTSText-Regular.ttf') format('truetype');
	font-display: swap;
}

@font-face {
	font-family: 'MTS Text';
	font-weight: 500;
	src: url('../../../public/fonts/MTSText-Medium.ttf') format('truetype');
	font-display: swap;
}

@font-face {
	font-family: 'MTS Wide';
	font-weight: 400;
	src: url('../../../public/fonts/MTSWide-Regular.TTF') format('truetype');
	font-display: swap;
}

@font-face {
	font-family: 'MTS Wide';
	font-weight: 500;
	src: url('../../../public/fonts/MTSWide-Medium.ttf') format('truetype');
	font-display: swap;
}

@font-face {
	font-family: 'MTS Wide';
	font-weight: 700;
	src: url('../../../public/fonts/MTSWide-Bold.TTF') format('truetype');
	font-display: swap;
}
