@use "./common/reset";
@use "./common/fonts";
@use "./common/root";
@use "./common/global";

.hidden {
	display: none !important;
}

@media (min-width: 769px) {
	.mob {
		display: none !important;
	}
}

@media (max-width: 768px) {
	.desk {
		display: none !important;
	}
}
