@use "../tools/mixin" as m;

%font-family-text-400 {
	font-family: "MTS Text";
	font-weight: 400;
}

%font-family-text-500 {
	font-family: "MTS Text";
	font-weight: 500;
}

%font-family-wide-400 {
	font-family: "MTS Wide";
	font-weight: 400;
}

%font-family-wide-500 {
	font-family: "MTS Wide";
	font-weight: 500;
}

%font-family-wide-700 {
	font-family: "MTS Wide";
	font-weight: 700;
}

%font-h1 {
	font-size: clamp(1.188rem, 0.545rem + 1.34vw, 1.75rem);
	@extend %font-family-text-500;

	@include m.desktop {
		font-family: "MTS Wide";
		text-transform: uppercase;
		line-height: 1.1;
	}
}

%btn-md {
	font-size: 17px;
	line-height: 1;
	font-weight: 500;
}

%header-button {
	@extend %font-family-text-400;
	font-size: clamp(0.875rem, 0.732rem + 0.3vw, 1rem);
	line-height: 1;

	@include m.desktop {
		line-height: 1.1;
	}
}
